

    <div class="main-content">
        <div class="section-content section-content-p30">
            <div class="container-fluid">
                <div class="row">
                    <br><br><br><br>
    <h1>🎉 Order Confirmed!</h1>
    <h4>Thank you for your purchase. Your order has been successfully placed.</h4>
    <h6> Check your email for more details ....</h6><br>

    <button class="btn btn-primary btn-lg mt-3" (click)="goToProduct()"  style="width: 300px ; height: 50px;">
        <i class="fas fa-shopping-cart"></i> Continue Shopping
      </button>
            </div>
        </div>
        </div>
  </div>
  
