
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="menu-sidebar d-none d-lg-block">
  <div class="logo"> <a href="#"> <span class="logo-text">ashokit<span class="logoIn">.in</span></span> </a> </div>
  <app-product-category-menu></app-product-category-menu>
</div>
<div class="page-container"> 
  <app-header></app-header>
    <router-outlet></router-outlet>
</div> 
<footer class="footer">
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer> 
